<h2>todo lists</h2>

<form action="/" method="POST">
    <label>Content</label>
    <input type="text" name="content" value="content">
    <button type="submit">Create todo</button>
</form>


<% allTodos.forEach(todo => { %>
    <div></div><b><%= todo.content %></b></div>
    <a href="/todo/<%= todo.id %>/edit">Edit</a>
    <div><%= todo.date.toString().split('G')[0] %></div>
    <form action="/todo/<%= todo.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
<% }) %>
